$themes: (
  light: (
    background: #fff,
    primary-accent: #8700fd,
    secondary-accent: #fff,
    black: #000,
  ),
);

$color-primary: #8700fd;
$color-background: #fff;
$color-background-secondary: #f9f9f9;
$color-on-background: #000;
$color-disable: #d4d4d4;
$color-on-disable: #fff;
$color-surface: #8700fd;
$color-on-surface: #fff;
$color-error: #ff5151;
$color-on-error: #fff;
